<html lang="en-Us">

<head>
    <meta charset="utf-8">
    <title>Login with Facebook or Twitter</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login-style.css')}}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    {% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.name }}!</h2>
    <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
    {% else %}

    <div id="login">
        <h1><strong>Welcome.</strong> Please login. </h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST">
            <fieldset>
                <p>
                    <input type="text" placeholder="Email" name="email" required value="{{ request.form.username }}">
                </p>
                <!-- JS because of IE support; better: placeholder="Username" -->
                <p>
                    <input type="password" placeholder="Password" name="password" required
                        value="{{ request.form.password }}">
                </p>
                <!-- JS because of IE support; better: placeholder="Password" -->
                <p><a href="#">Forgot Password?</a></p>
                <p>
                    <input type="submit" value="Login">
                </p>
            </fieldset>
        </form>
        <p><span class="btn-round">or</span></p>
        <p id="login-with-facebook">
            <a class="facebook-before" href="{{ url_for('auth.oauth_authorize', provider='facebook') }}"><span
                    class="fontawesome-facebook"></span></a>
            <button type="button"
                onclick="window.location.href='{{ url_for('auth.oauth_authorize', provider='facebook') }}'"
                class="facebook">Login Using Facbook</button>
        </p>
        <p>
            <a class="twitter-before" href="{{ url_for('auth.oauth_authorize', provider='twitter') }}"><span
                    class="fontawesome-twitter"></span></a>
            <button type="button"
                onclick="window.location.href='{{ url_for('auth.oauth_authorize', provider='twitter') }}'"
                class="twitter">Login Using Twitter</button>
        </p>
    </div>
    {% endif %}

    <!-- end login -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script defer src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script defer src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>


    <script>

    </script>


    <script defer src="{{url_for('static', filename='login.js')}}"> </script>
</body>

</html>