{% extends "base.html" %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Show addresses</h3>
        </div>

    </div>
    <!-- End Page Header -->

    <div class="row">
        <div class="col">
            <button type="button" onclick="location.href='/address/create';"
                class="mb-2 btn btn-primary mr-2">Create</button>

            <div class="card card-small mb-4">

                <div class="card-body p-0 pb-3 text-center">


                    <table class="table mb-0" id="table-posts">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">Id</th>
                                <th scope="col" class="border-0">Address</th>
                                <th scope="col" class="border-0">District</th>
                                <th scope="col" class="border-0">City</th>
                                <th scope="col" class="border-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table-tbody-posts">
                            {% for address in addresses %}
                            <tr>
                                <td>{{ address.id }}</td>
                                <td>{{ address.detail }}</td>
                                <td>{{ address.district }}</td>
                                <td>{{ address.city }}</td>
                                <td>
                                    <a href="/admin/comments/{{ address.id }}"
                                        class="mb-2 btn btn-sm btn-danger mr-1">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <ul id="pagination-demo" class="pagination-md float-right"></ul>

        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='jquery.twbsPagination.js') }}"></script>
<script src="{{ url_for('static', filename='address/show_address.js') }}"></script>

<script>

    $('#pagination-demo').twbsPagination({
        totalPages: {{ total_pages }},
        visiblePages: 4,
        href: true,
        defaultHref: '?page=',
    });
</script>
{% endblock %}